<html>
<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

  <div class="drop_down_container">
      <div class="card_drop_head">SELECT CREDIT CARD</div>
      <div class="dropdown_content">
            <div class="dropdowncontaineritem">
                    <div class="ddtitle">Browse by Category: </div>
                    <div class="ddbtn">
                    <select class="getDropdown" name="getcategoryoffers" id="getcategoryoffers" style="background-color:white;color:black;">
                        <% for(let i=0; i < datacategory.length; i++) { %>
                            <option value=<%= datacategory[i].category_value %> >
                    
                                <%= datacategory[i].browse_category %>
                            </option>
                            <% } %>
            
                    </select>
                </div>
                </div>
                
                <div class="dropdowncontaineritem">
                    <div class="ddtitle">Browse by Bank: </div>
                    <div class="ddbtn">
                    <select class="getDropdown" name="getbankoffers" id="getbankoffers" style="background-color:white;color:black;">
                        <% for(let i=0; i < databank.length; i++) { %>
                            <option value=<%= databank[i].bank_value %> >
                    
                                <%= databank[i].browse_bank %>
                            </option>
                            <% } %>
                    </select>
                </div>
                </div>
                <div class="dropdowncontaineritem">
                    <div class="ddtitle">Browse by Credit Rating: </div>
                    <div class="ddbtn">
                    <select class="getDropdown" name="getcreditratingoffers" id="getcreditratingoffers" style="background-color:white;color:black;">
                        <% for(let i=0; i < datarating.length; i++) { %>
                            <option value=<%= datarating[i].rating_value %> >
                    
                                <%= datarating[i].browse_rating %>
                            </option>
                            <% } %>
            
                    </select>
                    </div>
                </div>
      </div>
  </div>
    



        <div id="card_div"></div>




        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            
            <script>
               
                   
                
                var arr = [];
                function htmlDecode(input){
                         var e = document.createElement('div');
                         e.innerHTML = input;
                         return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
                }

                function getData(getValue,a,b,c){
                    arr=[]; 
                    var value,bankval,rating;
                    
                    if(a == 'all' && b == 'all' && c == 'all'){
                        
                        value ='productcontainer';
                        bankval = 'BankID';
                        rating = 'CreditRatingID';
                    }
                   
                    else{
                       if(a == 'all'){
                        value ='productcontainer';
                        bankval = 'BankID-'+b+ ' ';
                        rating = 'CreditRatingID-'+c+ ' ';
                       }
                       else{
                        value = 'CategoryID-'+a+' ';
                        bankval = 'BankID-'+b+ ' ';
                        rating = 'CreditRatingID-'+c+ ' ';
                       }
                       if(b == 'all'){
                        bankval = 'BankID';
                       }
                       if(c == 'all'){
                        rating = 'CreditRatingID';
                       }
                      
                                            
                    }
                    for(let i=0;i<getValue.length;i++){
                       
                    if(getValue[i].card_class.includes(value)){
                        console.log(value);
                        console.log(bankval);
                      if(getValue[i].card_class.includes(bankval)){   
                          if(getValue[i].card_class.includes(rating)){
                            arr.push(getValue[i]);
                          }
                        
                      }
                        
                    } 
                }
                console.log(arr);
                displayData(arr);
                }
                function displayData(arrItem){
                    
                      var markup='';
                    
                    for(let i=0;i<arrItem.length;i++){
                        markup +="<div id='product" + (i+1) + "'  class='" + arrItem[i].card_class + "'>";
                        markup +="<div id='innerproductheading" + (i+1) + "'>" + arrItem[i].card_name + "</div>";
                        markup +="<table width='100%' border='0' cellspacing='0' cellpadding='0'>";
                        markup +="<tbody><tr style='border:none;margin:0;padding:0;'>";
                        markup +="<td id='creditcardimage" + (i+1) + "' >";
                        markup +="<img class='noborders nopadding nomargins' src='" + arrItem[i].card_img + "' alt='' width='100' height='63'>";
                        markup +="<br><br></td>";
                        markup +="<td id='innerproductdescription" + (i+1) + "'>";
                        markup +="<ul style='line-height: 20px;text-align: left;margin-bottom:0px !important;'>" + arrItem[i].card_desc + "</ul></td>"; 
                        markup +="<td style=' padding-right: 16px; '>";
                        markup +="<a href='" + arrItem[i].card_link + "' target='_blank' class='noborders nopadding nomargins'>";
                        markup +="<button type='button' class='btn-apply'>Apply Now</button></a>";
                        markup +="<div class='creditneededcontainer'>";
                        markup +="<div class='creditneededheading'>CREDIT NEEDED</div>" + arrItem[i].credit_need1 + "<br>" + arrItem[i].credit_need2 + "<br>";
                        markup +="</div></td> </tr></tbody></table></div>";
                    }                    
                   // console.log(markup);
                //    alert(document.body.innerHTML);
                
                document.getElementById("card_div").innerHTML = markup;
                
                 //  document.body.innerHTML= document.body.innerHTML + markup;
                }
                var getValue = JSON.parse(htmlDecode("<%= JSON.stringify(data) %>"));
                var a,b,c;
                getData(getValue,a='all',b='all',c='all');
                
                $("#getcategoryoffers").change(function(){
                     a = $("#getcategoryoffers").val();                   
                    getData(getValue,a,b,c);
                });
                $("#getbankoffers").change(function(){
                     b = $("#getbankoffers").val();                
                    getData(getValue,a,b,c);
                });
                $("#getcreditratingoffers").change(function(){
                     c = $("#getcreditratingoffers").val();                
                    getData(getValue,a,b,c);
                });
                
            </script>
</body>
</html>
